#section
- if user_signed_in?
	%p#intro
		Hello
		= current_user.name
		%br/
		%span
			Sales!! Last Chance 50%!
- else 
	%p#intro
		What do you want to do this summer?
		%br/
		%span
			Sales!! Last Chance 50%!
#products
	- @products.each do |product|
		.product
			.product_image
				= link_to (image_tag product.image.url(:small)), product
			.product_content	
				.title
					= button_to "Add to Cart", order_items_path(product_id: product.id)
					%h2= link_to product.title, product
				.info	
					%p.price= print_price(product.price)
					%p.stock= print_stock(product.stock)
					%p.stockNo= product.stock
					